@media (max-width: 767px) {
	body {
		padding: 0;
	}
	
	.navbar .pull-right {
		float: none;
	}
	
	.container {
		width: 96%;
		padding: 0 2%;
	}
	
	#footer {
		position: inherit;
		
	}
	
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	#steps {
		background: #666666;
		height: 66px;
		line-height: 31px;
		font-size: 12px;	
	}
}
/*
Check box weirdness fix
*/

@media (min-width: 763px) and (max-width: 783px) {

	[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
	}
}